<h1>Create a Team and Heroes!</h1>
<form action = '/' method = 'post'>
  Team Name: <input type="text" name="name">
  Team Motto: <input type="text" name="motto">
  <input type="submit">
  
  
  
</form>
